html {
    font-size: 16px;
}

@media screen and (min-width: 479px) {
    html {
        font-size: 14px;
    }
}

html * {
    box-sizing: border-box;
}

body,
header {
    margin: 0;
    padding: 0;
}

header {
    background: #000000;
}

.nav {
    padding: 30px 20px 10px 20px;
    width: 100%;
}

.nav a {
    font-size: 20px;
    /* ナビゲーションのテキストのフォントサイズを20pxに設定 */
}

nav {
    background: #000000;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 2;
    color: #ffffff;
    margin: 0;
    /* 一番上の余白を0に設定 */
}

ul {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 20;
}

ul li {
    display: inline-block;
    padding: 26px 10px 20px 10px;
}

a {
    color: #fff;
    text-transform: uppercase;
}

.btn4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.btn4::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #3367ff;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn4:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.btn2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #3367ff;
}

a.que {
    float: right;
    border-radius: 5px;
    background-color: #007BFF;
    padding: 10px;
    text-decoration: none;
    color: white;
}

a[href="#kiji1"],
a[href="#kiji2"],
a[href="#kiji3"] {
    color: blue;
    width: 500px;
    margin-top: 0;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    line-height: 2;
    color: #000000;
    margin: 25px 0;
}

p {
    font-weight: bold;
    line-height: 2;
    color: #333;
}

th,
td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

table {
    margin-left: 5px;
    color: black
}

.frame-article {
    padding: 10px;
    width: 450px;
    margin-bottom: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
}

.frame-tag {
    padding: 1px;
    width: 80px;
    margin-bottom: 1px;
    border: 1px solid #333333;
}

button {
    background-color: #fff;
    border-color: #fff;
}

p.tag {
    border: 1px solid;
    display: inline-block;
    border-radius: 20px;
    background-color: #ccc;
}

#a1 {
    color: #007BFF;
}