html {
    font-size: 16px;
}

@media screen and (min-width: 479px) {
    html {
        font-size: 14px;
    }
}

html * {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #000000;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 2;
    color: #ffffff;
    margin: 0;
}

.nav {
    padding: 30px 20px 10px 20px;
    background: #000000;
    width: 100%;
}

.nav a {
    font-size: 20px;
    /* ナビゲーションのテキストのフォントサイズを20pxに設定 */
}

nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 20;
}

.btn4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.btn4::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #3367ff;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn4:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.btn2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #3367ff;
}

nav ul li {
    display: inline-block;
    padding: 26px 10px 20px 10px;
}

/* ナビゲーションメニューのリンクの色を変更 */
nav ul li a {
    color: #ffffff;
    /* ナビゲーションメニューのリンクの色を白色に設定 */
}


.main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

.project-item {
    background-color: #7e7e7e;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.project-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.project-item p {
    font-size: 16px;
    color: #333333;
}